#noticias {
    margin-top: 20px;
}

.noticia {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.noticia h2 {
    color: #007bff;
}

.noticia p {
    color: #6c757d;
}

.noticia a {
    color: #28a745;
}